node_modules
dist
.tmp
app/bower_components
.Procfile.target
.env
*.pyc
/.cache/
/.pyenv/
/.jsenv/
/.rbenv/
/.rbenv-version
/.build/
/.sysroot/
/.sysroot-bak/
/.pkglist
/db/
/wallet/secret_keys.py
/wallet.egg-info/
